/* Google Font Link */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-surface: white;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #F6F8FC;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i,.sidebar .material-symbols-outlined {
  color: black;
  height: 60px;
  min-width: 50px;
  font-size: 24px !important;
  text-align: center;
  line-height: 60px !important;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: rgb(37, 37, 37);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: white;
}

.sidebar li:hover .tooltip {
  opacity: .8;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: rgb(12, 12, 12);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #f9f9f9;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #fdfdff;
  color: rgb(18, 18, 18);
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: rgb(0, 0, 0);
  color: #f8f8ff;
}

.sidebar li a {
  display: flex;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #F6F8FC;
}

.sidebar li a:hover {
  background: #dedede;
  /* background:#D3E3FD; */
}

.sidebar li a .links_name {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  /* color: #f3f3f3; */
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 65px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #fcfcff;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: rgb(8, 8, 8);
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #fbfaff;
  width: 100%;
  height: 65px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  min-height: 100vh;
  background-color: #F6F8FC;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.scroll-x {
  overflow-x: auto;
  white-space: nowrap;
}
.scroll-x::-webkit-scrollbar{
  display: none;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.chip {
  font-size: 13px;
  color: rgba(0, 0, 0, .6);
  padding: 0 12px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: #eceff1;
  margin-bottom: .5rem;
  margin-right: .5rem;
  cursor: pointer;
  transition: all .3s linear;
  display: inline-block;
  height: 32px;
  line-height: 32px;
}